<div style="width: 100%;">
    <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Поиск</mat-label>
          <input  matInput placeholder="Введите имя для поиска..." [(ngModel)]="searchValue" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
      </form>
</div>
<div class="wrapper">
    <div class="search-parameters">
        <div class="search-inner">
          <h1>Страна производитель</h1>
          <table>

          </table>
        </div>
        <div class="search-inner"></div>
    </div>
    <div class="cards">
       <div class="card" *ngFor="let drug of drugService.drugs|filter:searchValue|paginate:{itemsPerPage:itemsPerPage,currentPage:page};let i=index">
        <div class="card-image"><img [src]="drug.imgURL" [alt]="drug.name"></div>
        <div class="card-info">
          <p>{{drug.name}}</p>
          <p>{{drug.country}}</p>
          <p>{{drug.price|currency:'AZN':true}}</p>
        </div>
        <div class="card-button">
          <button mat-button 
          (click)="addDrug(drug)"
          class="green-btn"
          >Add</button>
        </div>
       </div>
    </div>
</div>
<pagination-controls (pageChange)="page = $event"></pagination-controls>



