
.example-form {
    min-width: 150px;

    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
    input{
        width: 100%;
        font-size: 1.5em;
    }
  }
.wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    font-family: 'Exo 2',sans-serif;
    font-weight: bold;
    .search-parameters{
        width: 20%;
       
        .search-inner{
            width: 90%;
            height: 300px;
            background-color: aqua;
            margin: 5px;
            border-radius: 5px;
        }
      }
      .cards{ 
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 80%;     
      }
}
 .card{
  width: 180px;
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: aliceblue;
  margin: 5px;
  border: 1px solid aliceblue;
  border-radius: 4px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

  .card-image{
    width: 100%;
    height: 120px;
    min-height: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    img{
      width: 100%;
      height: 100%;
    }
  }
  .card-title{
    width: 100%;
    height: 120px;
    min-height: 120px;
  }
  .card-button{
    width: 100%;
    
    min-height: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
 }
.red-btn{
  background-color: red;
}
.green-btn{
  background-color: green;
}
@media (max-width:1000px){
  .cards{
    justify-content: center;
  }
}
.card-info{
  display: flex;
  width: 100%;
  flex-direction: column;
 justify-content: center;
 align-items: center;
 p{
  margin: 0;
 }
}