<div class="home-page">
<div class="home-page_first-section">
    <div class="box">
        <h1 *ngIf="user$ |async as user; else newUser"> 
            {{user.displayName}},   Добро пожаловать в "Онлайн аптеку"
           </h1>
           <ng-template #newUser>
            <div class="user-navigate">
            <h3> Новый пользователь? <button mat-button routerLink="signup" class="btn"> Регистрация</button></h3>
            <h3> Новый пользователь? <button mat-button routerLink="login"class="btn"> Войти</button></h3>
            </div>
             </ng-template>
    </div>
  
<div class="swiper"
>
<swiper mat-card-avatar
class="my-swiper"
[scrollbar]="{draggable:true}"
[navigation]="true">
<p>Товары дня</p>
    <ng-container *ngFor="let drug of drugs|favorite; index as i">
        <ng-template swiperSlide>
                <img [src]="drug.imgURL" alt="">
                <p>{{drug.name}}</p>
                <p>{{drug.price}}</p>
                <button class="btn" mat-button (click)="AddToCart(drug)">В корзину</button>
        </ng-template>
    </ng-container>
</swiper>
</div>

</div>
<div class="home-page_advert">
    <swiper
    [slidesPerView]="3"
    [spaceBetween]="50"
    
    (slideChange)="onSlideChange()"
    [navigation]="true"
    [pagination]="{ clickable: true }"
    [scrollbar]="{ draggable: true }"
  >
    <ng-template swiperSlide>Slide 1</ng-template>
    <ng-template swiperSlide>Slide 2</ng-template>
    <ng-template swiperSlide>Slide 3</ng-template>
    <ng-template swiperSlide>Slide 4</ng-template>
    <ng-template swiperSlide>Slide 5</ng-template>
    <ng-template swiperSlide>Slide 6</ng-template>
  </swiper>
</div>
</div>


