@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';
.home-page{
    display: flex;
    width: 100%;
    flex-direction: column;

}
.home-page_first-section{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.my-swiper {
    height: 90%;
    width: 100%;
    z-index: 999;
    p{
        margin-left: auto;
    }

}

.swiper{
    width: 200px;
    height: 200px;
    display: flex;
    border: 1px solid gray;
    background-color: aliceblue;
    margin-right: 0;
 
}
.swiper-slide img{
    width: 100%;
    height: 50%;
    .btn{
        z-index: 1001;
        position: absolute;
        left:100px;
        bottom: 30px;
        background-color: rgb(12, 216, 40);
        color: white;
        cursor: pointer;
    }
}

.box{
    width: 300px;
    height: 200px;
    background-color: rgb(221, 227, 232);
    border-radius: 5px;
    box-shadow: 0 14px 28px rgba(103,58,183,0.25), 0 10px 10px rgba(103,58,183,0.22);

}
