/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Exo:ital,wght@0,100;0,200;0,400;0,500;1,100;1,200;1,300&display=swap');
html, body { height: 100%; }
body { margin: 0; font-family: 'Exo 2', "Helvetica Neue", sans-serif;     background-color: rgb(232, 250, 214);}
app-header{
    width: 100%;
}
app-store{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}
.center{
    display: flex;
    justify-content: center;
}
.margin-top{
    margin-top: 16px;
}
.text-center{
    text-align: center;
}
.btn{
    background-color: #673AB7;
    color: aliceblue;
    transition: all 0.6s;
    &:hover{
      transform: scale(1.03,1.03);
    }
  }